<html>
    <body>
<form action="add" method="POST">
    Name: <input type="text" name="name" >
    Age: <input type="number" name="age">
    <input type="submit" value="submit">
</form>
<%= users %>
</body>
</html>