<html>
    <head></head>
    <body>
        <a href="/cat1"><img src="/kat1.jpg" alt=""></a>
        <a href="/cat2"><img src="/kat3.jpg" alt=""></a>
        <a href="/cat3"><img src="/kat2.jpg" alt=""></a>
    </body>
</html>